<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.course.needone" >

    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="I NEED U"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="I NEED U"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainPage"></activity>
        <activity android:name=".RequestDetail"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".RegisterSuccess"></activity>
        <activity android:name=".HelperList"></activity>
    </application>
</manifest>
